<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-revision-vehicule-heading" data-cy="RevisionVehiculeCreateUpdateHeading">Create or edit a Revision Vehicule</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_libelleRevisionVehicule">Libelle Revision Vehicule</label>
          <input
            type="text"
            class="form-control"
            name="libelleRevisionVehicule"
            id="field_libelleRevisionVehicule"
            data-cy="libelleRevisionVehicule"
            formControlName="libelleRevisionVehicule"
          />
          <div
            *ngIf="
              editForm.get('libelleRevisionVehicule')!.invalid &&
              (editForm.get('libelleRevisionVehicule')!.dirty || editForm.get('libelleRevisionVehicule')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('libelleRevisionVehicule')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('libelleRevisionVehicule')?.errors?.minlength">
              This field is required to be at least 3 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_carnetVehicule">Carnet Vehicule</label>
          <select
            class="form-control"
            id="field_carnetVehicule"
            data-cy="carnetVehicule"
            name="carnetVehicule"
            formControlName="carnetVehicule"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                carnetVehiculeOption.id === editForm.get('carnetVehicule')!.value?.id
                  ? editForm.get('carnetVehicule')!.value
                  : carnetVehiculeOption
              "
              *ngFor="let carnetVehiculeOption of carnetVehiculesSharedCollection; trackBy: trackCarnetVehiculeById"
            >
              {{ carnetVehiculeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
