<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="matieres">
      <h2 data-cy="matieresDetailsHeading"><span>Matieres</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ matieres.id }}</span>
        </dd>
        <dt><span>Designation Matieres</span></dt>
        <dd>
          <span>{{ matieres.designationMatieres }}</span>
        </dd>
        <dt><span>Quantite Matieres</span></dt>
        <dd>
          <span>{{ matieres.quantiteMatieres }}</span>
        </dd>
        <dt><span>Caracteristiques Matieres</span></dt>
        <dd>
          <span>{{ matieres.caracteristiquesMatieres }}</span>
        </dd>
        <dt><span>Statut Sup</span></dt>
        <dd>
          <span>{{ matieres.statutSup }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/matieres', matieres.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
