<div>
  <h2 id="page-heading" data-cy="TypeMatiereHeading">
    <span>Type Matieres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-info" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Rafraichir</span>
      </button>
      <button class="btn btn-outline-primary" (click)="savemodale()" [disabled]="isLoading">
        <fa-icon icon="plus" [spin]="isLoading"></fa-icon>
        <span> Nouveau</span>
      </button>

      <!--button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-outline-primary jh-create-entity create-type-matiere"
        [routerLink]="['/type-matiere/new']" 
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau </span>
      </button-->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="typeMatieres?.length === 0">
    <span>No typeMatieres found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="typeMatieres && typeMatieres.length > 0">
    <table class="table table-bordered" aria-describedby="page-heading">
      <thead>
        <tr>
          <!--th scope="col"><span>ID</span></th-->
          <th scope="col"><span>Libelle Type Matiere</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let typeMatiere of typeMatieres; trackBy: trackId" data-cy="entityTable">
          <!--td>
            <a [routerLink]="['/type-matiere', typeMatiere.id, 'view']">{{ typeMatiere.id }}</a>
          </td-->
          <td>{{ typeMatiere.libelleTypeMatiere }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/type-matiere', typeMatiere.id, 'view']"
                class="btn btn-outline-info"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/type-matiere', typeMatiere.id, 'edit']"
                class="btn btn-outline-primary"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editer</span>
              </button>

              <button type="submit" (click)="delete(typeMatiere)" class="btn btn-outline-danger" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
