<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="typePanne">
      <h2 data-cy="typePanneDetailsHeading"><span>Type Panne</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ typePanne.id }}</span>
        </dd>
        <dt><span>Libelle Type Panne</span></dt>
        <dd>
          <span>{{ typePanne.libelleTypePanne }}</span>
        </dd>
        <dt><span>Statut Sup</span></dt>
        <dd>
          <span>{{ typePanne.statutSup }}</span>
        </dd>
        <dt><span>Demande Reparations</span></dt>
        <dd>
          <div *ngIf="typePanne.demandeReparations">
            <a [routerLink]="['/demande-reparations', typePanne.demandeReparations?.id, 'view']">{{ typePanne.demandeReparations?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/type-panne', typePanne.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
