<div>
  <h2 id="page-heading" data-cy="TypePanneHeading">
    <span>Type Pannes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-type-panne"
        [routerLink]="['/type-panne/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Type Panne </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="typePannes?.length === 0">
    <span>No typePannes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="typePannes && typePannes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Libelle Type Panne</span></th>
          <th scope="col"><span>Statut Sup</span></th>
          <th scope="col"><span>Demande Reparations</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let typePanne of typePannes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/type-panne', typePanne.id, 'view']">{{ typePanne.id }}</a>
          </td>
          <td>{{ typePanne.libelleTypePanne }}</td>
          <td>{{ typePanne.statutSup }}</td>
          <td>
            <div *ngIf="typePanne.demandeReparations">
              <a [routerLink]="['/demande-reparations', typePanne.demandeReparations?.id, 'view']">{{
                typePanne.demandeReparations?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/type-panne', typePanne.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/type-panne', typePanne.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(typePanne)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
